td{
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
    vertical-align: top;
    width: 20%;
    font: small-caps 100%/200% serif;
}
td.linea{
    border-right: 1px solid #9E64AB  ;
}
h2{
    text-align: center;
    font-family: cursive;
}