<h2 >Sobre nosotros</h2>

<table>
        <tr>
            <td class="linea">Con una ubicación ideal en el centro de Sevilla,<br> el histórico Hotel Alfonso XIII ofrece el lugar<br> ideal para
                descubrir Sevilla y Andalucía.</td>
            <td class="linea">Lleno de glamur andaluz, el hotel es una obra<br> maestra en sí mismo. Con sus minaretes, su <br>impresionante
                salón, sus suntuosos azulejos<br> de cerámica y sus jardines.</td>
            <td>El Hotel Alfonso XIII cuenta con<br> una excepcional selección de<br> restaurantes, que reflejan los<br> sabores de España, como la<br> cocina andaluza o las tapas tradicionales.</td>
        </tr>
    </table>
  
