<!--  <div class="card animated fadeIn fast" >

    
    <div class="card-body">
      <h4 class="card-title medio">{{ habitacion2.nombre }}</h4>
      <img class="card-img-top img-fluid" src="assets/img/habitacion2.jpg" alt="habitacion2.nombre">
      <p class="card-text medio"> <Strong>{{ habitacion2.precio }}€</Strong> </p>
    
  
      <button (click)="verHeroe()"
        type="button" class="btn btn-outline-primary btn-block">
        Ver tarifa...
      </button>
     
  
    </div>
  </div> -->

<h1>Reserva aquí</h1>
<!-- <div class="row">
  <div class="column">
    <div class="card">
      <div *ngFor="let habitacion of heroes" style="width: 20rem;">
        <img class="card-img-top" [src]="habitacion.img" alt="Card image cap">
        <h2 class="card-title">{{habitacion.nombre}}</h2>
        <h4 class="card-text"><strong>{{habitacion.precio}}€</strong></h4>
        <a href="#" [routerLink]="['/fecha', habitacion.id]" class="btn btn-primary">Ver tarifa...</a>
      </div>
    </div>
  </div>
</div> -->
<div class="card-columns margin">
  <div class="card" *ngFor="let habitacion of heroes;let i = index" style="width: 20rem; background-color: rgb(228, 252, 250);">
    <img class="card-img-top" [src]="habitacion.img" alt="Card image cap">
    <div class="card-body">
      <h2 class="card-title">{{habitacion.nombre}}</h2>
      <h4 class="card-text"><strong>{{habitacion.precio}}€</strong></h4>
      <button  routerLinkActive="active" class="letra color1 color2 prueba" [routerLink]="['/fecha', habitacion.id]"class="letra color1 color2 prueba btn-block" style="text-align: center;">Ver tarifa...</button>
    </div>
  </div>
</div>


<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/aquaman.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <table width="10%">
    <tr>
      <td>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/img/aquaman.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </td>
      <td>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/img/aquaman.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </td>
    </tr>
  </table> -->