<form #formAdd="ngForm" enctype="multipart/form-data">
  <div class="borde4">
    <!-- <div class="margenes">
      <label><strong>Nombre de la habitación:</strong></label><br>
      <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="habitación.nombre" required pattern="[a-z A-Z]+">
    </div> -->
    <div class="margenes">
      <label> <strong>Nombre de la habitacio: </strong></label>
      <input class="hola" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="habitacion.nombre" required required
        pattern="[a-z A-Z]+">
      <br>

    </div>

    <div class="margenes">
      <label> <strong>Precio de la habitación: </strong></label>
      <input class="hola" type="text" name="precio" #precio="ngModel" [(ngModel)]="habitacion.precio" required
        pattern=[0-9]+(\\.[0-9][0-9]?)?>
      <br>
    </div>

    <!--   <div class="margenes">
      <label><strong>Precio:</strong></label><br>
      <input type="text" name="precio" #precio="ngModel" [(ngModel)]="habitación.precio" required pattern="[0-9]">
    </div> -->  <div class="margenes">
      <label class="margenLabel"><strong>Insertar foto:</strong></label>
      <input name="img" #img="ngModel" [(ngModel)]="habitacion.img" type="file" name="adjunto" accept=".pdf,.jpg,.png"
        multiple>
    </div>

  </div>
</form>
<button (click)="envio()" routerLinkActive="active" type="submit" class="letra color1 color2 prueba"
  [routerLink]="['/resumen']" [disabled]="!formAdd.form.valid">Añadir habitación</button>