<div>

  <form #formCliente="ngForm" (ngSubmit)="onSubmit();">
 

  <h2 class="margenes">Rellena los datos</h2>
  <p>
    <label> <strong>NOMBRE:</strong></label>
    <input class="hola" size="30" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre" required
      placeholder="Indica tu nombre (obligatorio)" required pattern="[a-z A-Z]+">
    <span *ngIf="nombre.touched && !nombre.valid" class="error">
      ¡Introduce un Nombre, por favor(solo letras)!
    </span>
  </p>
  
  <p>
    <label> <strong>APELLIDO:</strong> </label>
    <input class="hola" size="30" placeholder="Indica tu apellido ( obligatorio)" type="text" name="apellido"
      #apellido="ngModel" [(ngModel)]="cliente.apellido" required pattern="[a-z A-Z]+">
    <span *ngIf="apellido.touched && !apellido.valid" class="error">
      ¡Introduce un apellido, por favor(solo letras)!
    </span>
  </p>
  <p>
    <label> <strong>CONTRASEÑA:</strong> </label>
    <input class="hola" size="30" placeholder="Indica tu codigo (obligatorio)" type="password" name="codigo"
      #codigo="ngModel" [(ngModel)]="cliente.codigo" required pattern="[a-z A-Z0-9]+">
    <span *ngIf="codigo.touched && !codigo.valid" class="error">
      ¡Introduce una codigo, por favor(solo letras)!
    </span>
  </p>
  <p>
    <label><strong>EMAIL:</strong> </label>
    <input class="hola" size="30" placeholder="Indica tu email ( obligatorio)" type="text" name="email"
      #email="ngModel" [(ngModel)]="cliente.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
    <span *ngIf="email.touched && !email.valid" class="error">
      ¡Introduce un email, por favor. Ejemplo: ejemplo@gmail.com!
    </span>
  </p>
  <p>
    <label> <strong>TELEFONO:</strong></label>
    <input class="hola" size="30" placeholder="6xx-xx-xx-xx ( obligatorio)" type="text" name="telefono"
      #telefono="ngModel" [(ngModel)]="cliente.telefono" required pattern="[6][0-9]{8}">
    <span *ngIf="telefono.touched && !telefono.valid" class="error">
      ¡Introduce un telefono, por favor(empezando por el dígito 6)!
    </span>
  </p>
  
</form>
  <input  routerLinkActive="active" class="color medio" type="submit" value="Registro" [disabled]="!formCliente.form.valid"
      (click)='callall()'>
     <div class="mid">
      <p>¿ya tienes cuenta? <a [routerLink]="['/InicioSesion']">Loguearse</a></p>
    </div>
</div>