/*float sirve para centrar el formulario*/
form {
  margin: auto;
  float: center;
  padding: 2px;
  cursor: pointer;
  display: block;
  width: 290px;
  text-align: center;

}
.hola{
    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        padding: 0 4px 0 4px;
}
.color{
    -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        padding: 0 4px 0 4px;
        width:200px; height:40px;
    
}
.error{
    color: red;
}


