<div>
  <!--class="container" -->
  <div class="row">
    <div class="col-5">
      <div class="borde">
        <p class="margenes"><strong>Entrada</strong></p>
        <p class="margenes">(Tiene que salir cuando entra el huesped)</p>
        <p class="margenes">Horario:<br>13:30 - 00:00</p>
        <div class="borde4">
          <p class="margenes "><strong>Salida</strong></p>
          <p class="margenes">dia de salida(miercoles,jueves etc)</p>
          <p class="margenes">a las 12:00</p>
        </div>
      </div>
      <div class="borde">
        <p class="margenes">din de la habitacion</p>
        <p class="margenes">% Iva:</p>
        <div class="borde1">
          <p class="margenes">precio total: </p>
        </div>
      </div>
      <div class="borde">
        <div class="row">
          <img src="assets/img/reloj.PNG" />
          <h4 class="margenes">¡Ya casi estás!</h4>
        </div>
        <p class="margenes2">Solo necesitamos unos datos más para confirmar tu<br> reserva en Carolse.</p>

      </div>
      <div class="borde">
        <div class="row">
          <img src="assets/img/monedas.PNG" />
          <h4 class="margenes">¡Sin sorpresas!</h4>
        </div>
        <p class="margenes2">El precio que ves es el que pagas. ¡Sin gastos de gestión!</p>
      </div>
      <div class="borde">
        <div class="row">
          <img src="assets/img/candado.PNG" class="tamaño" />
          <h4 class="margenes">Tu reserva es segura</h4>
        </div>
        <p class="margenes2">Tus datos están protegidos por una conexión segura.</p>
      </div>
    </div>
    <div class="formulario col-6 borde3">
      <form #formUltimo="ngForm" (ngSubmit)="onSubmit();">
        <!--(ngReset)="formDatosUsuario.reset();"-->

        <h2 class="margenes">Tus datos</h2>
        <div class="row">
          <p><strong>Nombre:</strong> (tiene que salir el nombre de la pagina anterior)</p>
        </div>
        <div class="row">
          <p><strong>E-mail:</strong>(tiene que salir el correo de la pagina anterior)</p>
        </div>
        <div class="borde1">
          <h2 class="margenes">Garantía de la reserva</h2>
        </div>
        <div class="container">
          <div class="col-6">
            <div class="row">
              <p>
                <label> <strong>Nº de la tarjeta de credito: </strong></label>
                <input class="hola margenes" #cardNumber name="cardNumber" #cardNumber="ngModel" [(ngModel)]="ultimo.cardNumber"
                  [textMask]="mask" type="text" pattern="[0-9]{4}\s[0-9]{4}\s[0-9]{4}\s[0-9]{4}" maxlength="90" (keyup)="updateCard()" placeholder="xxxx-xxxx-xxxx-xxxx">
                <!-- <i class="card ccs ccs-{{type?.card?.type}}"></i> --><br>
                <span *ngIf="cardNumber.touched && !cardNumber.valid" class="error texto">
                    ¡Introduce un Nombre, por favor(solo letras)!
                  </span>
                
              </p>
              <p class="margenes">
                <label><strong>Tipo de tarjeta: </strong></label>
                <select id="mesnacimiento" class="margen1">
                  <option value disabled selected>Seleccionar</option>
                  <option value="1">Visa</option>
                  <option value="2">Euro/Mastercard</option>
                  <option value="3">Maestro</option>
                </select>
              </p>
            </div>
          </div>
          <div class="row">
            <p class="margenes">
              <label> <strong>Mes de caducidad:</strong> </label>
              <select id="mesnacimiento" class="margen1 cuadro">
                <option value disabled selected>Seleccionar</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </p>
            <p class="margenes">
              <label><strong>Año:</strong> </label>
              <select id="mesnacimiento" class="margen1 cuadro">
                <option value disabled selected>Seleccionar</option>
                <option value="1">2019</option>
                <option value="2">2020</option>
                <option value="3">2021</option>
                <option value="4">2022</option>
                <option value="5">2023</option>
                <option value="6">2024</option>
                <option value="7">2025</option>
                <option value="8">2026</option>
                <option value="9">2027</option>
                <option value="10">2028</option>
                <option value="11">2029</option>
                <option value="12">2030</option>
              </select>
            </p>
          </div>
          <div class="row">
            <p>
              <input type="checkbox" id="condiciones">
              <label style="color:black">Al hacer la reserva estás aceptando las condiciones generales.</label>


            </p>
          </div>
        </div>
        <button (click)="envio()" routerLinkActive="active" type="submit" class="letra color1 color2 prueba" [routerLink]="['/resumen']" [disabled]="!formUltimo.form.valid"> Último paso</button>
      </form>
          

    </div>

  </div>
</div>